certifi==2018.4.16
Django==2.0.5
django-ckeditor==5.6.1
django-cors-headers==2.5.2
django-js-asset==1.1.0
et-xmlfile==1.0.1
jdcal==1.4
numpy==1.16.2
openpyxl==2.5.6
Pillow==5.2.0
psycopg2==2.7.7
pytz==2018.4
scipy==1.2.1
wincertstore==0.2
