{% extends 'base.html' %}
{% load staticfiles %}
{% block head_extends %}
    <link rel="stylesheet" href="{% static 'article/blog.css' %}">
{% endblock %}
{% block nav_blog_active %}active{% endblock %}
{% block title %}
    {{ article_obj.title }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h2>{{ article_obj.title }}</h2>
                <ul class="blog-info-description">
                    <li>作者：{{ article_obj.author }}</li>
                    <li>分类：
                    <a href="{% url 'blog_with_type' article_obj.blog_type.pk %}">
                        {{ article_obj.blog_type }}
                    </a>
                    </li>
                    <li>发表日期：{{ article_obj.created_time|date:"Y-m-d H:i:s" }}</li>
                    <li>阅读量：{{ article_obj.readed_num }}</li>
                </ul>


                <div class="blog-content">{{ article_obj.content|safe }}</div>
                <div class="blog-more">
                    <p>上一篇：
                        {% if previous_blog %}
                            <a href="{% url 'article_detail' previous_blog.pk %}">{{ previous_blog.title }}</a>
                        {% else %}
                            There is no article anymore.
                        {% endif %}
                    </p>
                    <p>下一篇：
                        {% if next_blog %}
                            <a href="{% url 'article_detail' next_blog.pk %}">{{ next_blog.title }}</a>
                        {% else %}
                            There is no article anymore.
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
